body {
  background: white;
}

.tetris {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 200px;
  border: 2px solid black;
  margin-top: 75px;
}

.cell {
  height: 20px;
  width: 20px;
  background-color: rgb(130, 179, 243);
  flex: 1 1 auto;
}

.fill {
  background-color: red;
}
