body{
    background:#497eaffb;
}

canvas {
    display: flex;
    margin:0 auto;
    height: 500px;
    width: 250px;
    background-color: rgb(202, 199, 199);
    border: 2px solid white;
    margin-top: 40px;
}